Build started...
Build succeeded.
BEGIN TRANSACTION;
DROP INDEX "IX_CompanyUsers_CompanyId1";

DROP INDEX "IX_CompanyUsers_UserId1";

DROP INDEX "IX_CompanyAdminRequests_CompanyId1";

CREATE TABLE "ef_temp_CompanyAdminRequests" (
    "Id" TEXT NOT NULL CONSTRAINT "PK_CompanyAdminRequests" PRIMARY KEY,
    "CompanyId" TEXT NOT NULL,
    "CreatedAt" TEXT NOT NULL,
    "CreatedBy" TEXT NULL,
    "CurrentAdminId" TEXT NULL,
    "DeletedAt" TEXT NULL,
    "DeletedBy" TEXT NULL,
    "DocumentId" TEXT NULL,
    "DocumentPath" TEXT NULL,
    "ExecutedAt" TEXT NULL,
    "ExecutedByUserId" TEXT NULL,
    "IsDeleted" INTEGER NOT NULL,
    "IsExecuted" INTEGER NOT NULL,
    "ProposedAdminId" TEXT NOT NULL,
    "Reason" TEXT NOT NULL,
    "ReferenceNumber" TEXT NULL,
    "RequestedByUserId" TEXT NOT NULL,
    "ReviewComment" TEXT NULL,
    "ReviewedAt" TEXT NULL,
    "ReviewedByUserId" TEXT NULL,
    "Status" INTEGER NOT NULL DEFAULT 0,
    "UpdatedAt" TEXT NULL,
    "UpdatedBy" TEXT NULL,
    CONSTRAINT "FK_CompanyAdminRequests_Companies_CompanyId" FOREIGN KEY ("CompanyId") REFERENCES "Companies" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyAdminRequests_Users_CurrentAdminId" FOREIGN KEY ("CurrentAdminId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyAdminRequests_Users_ExecutedByUserId" FOREIGN KEY ("ExecutedByUserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyAdminRequests_Users_ProposedAdminId" FOREIGN KEY ("ProposedAdminId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyAdminRequests_Users_RequestedByUserId" FOREIGN KEY ("RequestedByUserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyAdminRequests_Users_ReviewedByUserId" FOREIGN KEY ("ReviewedByUserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT
);

INSERT INTO "ef_temp_CompanyAdminRequests" ("Id", "CompanyId", "CreatedAt", "CreatedBy", "CurrentAdminId", "DeletedAt", "DeletedBy", "DocumentId", "DocumentPath", "ExecutedAt", "ExecutedByUserId", "IsDeleted", "IsExecuted", "ProposedAdminId", "Reason", "ReferenceNumber", "RequestedByUserId", "ReviewComment", "ReviewedAt", "ReviewedByUserId", "Status", "UpdatedAt", "UpdatedBy")
SELECT "Id", "CompanyId", "CreatedAt", "CreatedBy", "CurrentAdminId", "DeletedAt", "DeletedBy", "DocumentId", "DocumentPath", "ExecutedAt", "ExecutedByUserId", "IsDeleted", "IsExecuted", "ProposedAdminId", "Reason", "ReferenceNumber", "RequestedByUserId", "ReviewComment", "ReviewedAt", "ReviewedByUserId", "Status", "UpdatedAt", "UpdatedBy"
FROM "CompanyAdminRequests";

CREATE TABLE "ef_temp_CompanyUsers" (
    "Id" TEXT NOT NULL CONSTRAINT "PK_CompanyUsers" PRIMARY KEY,
    "ActivatedAt" TEXT NULL,
    "AssignedAt" TEXT NOT NULL,
    "CompanyId" TEXT NOT NULL,
    "CreatedAt" TEXT NOT NULL,
    "CreatedBy" TEXT NULL,
    "DeletedAt" TEXT NULL,
    "DeletedBy" TEXT NULL,
    "InvitedByUserId" TEXT NULL,
    "IsActive" INTEGER NOT NULL,
    "IsDeleted" INTEGER NOT NULL,
    "IsPrimaryAdmin" INTEGER NOT NULL,
    "Notes" TEXT NULL,
    "RemovalReason" TEXT NULL,
    "RemovedAt" TEXT NULL,
    "UpdatedAt" TEXT NULL,
    "UpdatedBy" TEXT NULL,
    "UserId" TEXT NOT NULL,
    CONSTRAINT "FK_CompanyUsers_Companies_CompanyId" FOREIGN KEY ("CompanyId") REFERENCES "Companies" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyUsers_Users_InvitedByUserId" FOREIGN KEY ("InvitedByUserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT,
    CONSTRAINT "FK_CompanyUsers_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE RESTRICT
);

INSERT INTO "ef_temp_CompanyUsers" ("Id", "ActivatedAt", "AssignedAt", "CompanyId", "CreatedAt", "CreatedBy", "DeletedAt", "DeletedBy", "InvitedByUserId", "IsActive", "IsDeleted", "IsPrimaryAdmin", "Notes", "RemovalReason", "RemovedAt", "UpdatedAt", "UpdatedBy", "UserId")
SELECT "Id", "ActivatedAt", "AssignedAt", "CompanyId", "CreatedAt", "CreatedBy", "DeletedAt", "DeletedBy", "InvitedByUserId", "IsActive", "IsDeleted", "IsPrimaryAdmin", "Notes", "RemovalReason", "RemovedAt", "UpdatedAt", "UpdatedBy", "UserId"
FROM "CompanyUsers";

COMMIT;

PRAGMA foreign_keys = 0;

BEGIN TRANSACTION;
DROP TABLE "CompanyAdminRequests";

ALTER TABLE "ef_temp_CompanyAdminRequests" RENAME TO "CompanyAdminRequests";

DROP TABLE "CompanyUsers";

ALTER TABLE "ef_temp_CompanyUsers" RENAME TO "CompanyUsers";

COMMIT;

PRAGMA foreign_keys = 1;

BEGIN TRANSACTION;
CREATE INDEX "IX_CompanyAdminRequests_CompanyId" ON "CompanyAdminRequests" ("CompanyId");

CREATE INDEX "IX_CompanyAdminRequests_CompanyId_Status" ON "CompanyAdminRequests" ("CompanyId", "Status");

CREATE INDEX "IX_CompanyAdminRequests_CurrentAdminId" ON "CompanyAdminRequests" ("CurrentAdminId");

CREATE INDEX "IX_CompanyAdminRequests_ExecutedByUserId" ON "CompanyAdminRequests" ("ExecutedByUserId");

CREATE INDEX "IX_CompanyAdminRequests_ProposedAdminId" ON "CompanyAdminRequests" ("ProposedAdminId");

CREATE UNIQUE INDEX "IX_CompanyAdminRequests_ReferenceNumber" ON "CompanyAdminRequests" ("ReferenceNumber") WHERE "ReferenceNumber" IS NOT NULL;

CREATE INDEX "IX_CompanyAdminRequests_RequestedByUserId" ON "CompanyAdminRequests" ("RequestedByUserId");

CREATE INDEX "IX_CompanyAdminRequests_ReviewedByUserId" ON "CompanyAdminRequests" ("ReviewedByUserId");

CREATE INDEX "IX_CompanyAdminRequests_Status" ON "CompanyAdminRequests" ("Status");

CREATE INDEX "IX_CompanyUsers_CompanyId_IsActive" ON "CompanyUsers" ("CompanyId", "IsActive");

CREATE UNIQUE INDEX "IX_CompanyUsers_CompanyId_IsPrimaryAdmin" ON "CompanyUsers" ("CompanyId", "IsPrimaryAdmin") WHERE "IsPrimaryAdmin" = 1;

CREATE UNIQUE INDEX "IX_CompanyUsers_CompanyId_UserId" ON "CompanyUsers" ("CompanyId", "UserId");

CREATE INDEX "IX_CompanyUsers_InvitedByUserId" ON "CompanyUsers" ("InvitedByUserId");

CREATE INDEX "IX_CompanyUsers_UserId" ON "CompanyUsers" ("UserId");

COMMIT;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20260801093527_FixSecurityRelationships', '10.0.10');


