<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <Package
        Name="PCS Server"
        Manufacturer="PCS"
        Version="1.0.0"
        UpgradeCode="882D6BF5-EF21-4188-BFCF-ECE46DFF941C">

        <MediaTemplate />

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="PCS Server">

                <Files Include="..\publish\server\**" />

            </Directory>
        </StandardDirectory>

        <Feature
            Id="Main"
            Title="PCS Server"
            Level="1">

            <ComponentGroupRef Id="Files"/>

        </Feature>

    </Package>

</Wix>